{% extends "layout.html" %}

{% load static %}
{% load string_filters %}
{% block content %}

    <h2>My Feedback</h2>

    <table class="table table-striped table-hover">

    <thead>
        <tr>
            <th>Seed</th>
            <th>Recommendation</th>
            <th>Relevant?</th>
            <th>Comment</th>
            <th>Last update</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for feedback in feedbacks %}
        <tr>
            <td><a href="{{ feedback.recommendation.seed_item.get_absolute_url }}">{{ feedback.recommendation.seed_item.get_title }}</a></td>
            <td>{{ feedback.recommendation.recommended_item.get_title }} (#{{ feedback.recommendation.rank }})</td>
            <td class="text-center"><i class="fa {% if feedback.is_relevant %}fa-check{% else %}fa-remove{% endif %}"></i></td>
            <td>{{ feedback.comment }}</td>
            <td>{{ feedback.updated_date }}</td>
            <td>
                <a class="btn btn-xs btn-danger" href="{% url 'feedback_delete' feedback.id %}"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
    {% endfor %}
    {% if not feedbacks %}
        <tr>
            <td colspan="6" class="text-center">You have not contributed any feedback so far.</td>
        </tr>
    {% endif %}
    </tbody>

    </table>


{% endblock %}